// Place all the styles related to the Home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

$icons: facebook googleplus twitter youtube;     // Dodamy zminną ze zdjeciami



@mixin social-icons {                           // Tworzymy domieszke o nazwie social-icons
  @each $icon in $icons {                       // literujemy po niej tworząc tym samym inną zmienną
    .social-#{$icon} {                                            // Wchodzimy do klasy .social-która jest w indexie
      //background: asset-url(/assets/#{$icon}.png) no-repeat;
      background: url('#{$icon}.png') no-repeat;                  // i tu nam literuje po klasie
    }
  }
}


body {
  font-family: 'Arial', sans-serif;
  padding: 0 50px;
}

h1, h2 {
  font-weight: 400;
}

.social-block {
  margin-top: 100px;
  @include social-icons;                    // Zeby ją dodać musimy naturalnie ją umieścić w klasie social-block
  span {
    display: inline-block;
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }
}



