// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/




$font-size: 22px;
/* Tu bedziemy mieli przechowywanie paddingu czyli listy zmiennych*/

$padding: 30px 40px 40px 10px; //góra prawa dół lewa



h1 {
  font-size: $font-size
}

/* A mozemy to zrobic w taki sposób i dodac operatory

h1 {
  font-size: $font-size + 20;
  }

*/

.content {
  background-color: #c1d4c8;
  padding: $padding;
}