<h1>To jest nagłówek H1</h1>
<h2>Formatowanie wyjściowego CSS</h2>
<div class="main">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare sapien a auctor eleifend. Aenean scelerisque ultricies euismod. In quis vestibulum dolor. Integer consectetur nulla est, id fringilla tortor volutpat non. Proin orci quam, venenatis vel ante id, tincidunt facilisis libero. Integer mollis tincidunt hendrerit. Proin dapibus fringilla sapien. Mauris at felis in leo gravida placerat quis vitae dolor.</p>
</div>

<div class="bottom">
  <p>Przykładowy akapit w dolnej <a href="">link przykładowy</a></p>
</div>