// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.scss.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin border {
  border: 1px solid #888;
}


body {
  font-family: 'Arial', sans-serif;
  padding-left: 50px;
}

.content {
  width: 55%;
  padding: 40px;
  @include border;
  ul {
    list-style-type: none;  //usune domyslne numeratory umieszczone przez przeglądarke
    li {
      margin-bottom:7px;
      a {
        color: #444;
        text-decoration: none;
        &:hover {
          color: #888;
        }
        &:after {
          content: " >>";
        }
      }

    }
  }
}