// Place all the styles related to the Home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


$bg-color: #0B4C5F;

body {
  font-family: 'Arial', sans-serif;
  padding: 0 50px;
}

h1, h2 {
  font-weight: 400;
}

div {
  width: 50%;
  height: 50px;
  background: $bg-color;
}



