// Place all the styles related to the Home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/



$color-a: #BCB;
$color-b: #00E;

body {
  font-family: 'Arial', sans-serif;
  padding-left: 50px;
}

.content {
  width: 55%;
  padding: 40px;
  p {
    // color: darken($color-a,30%);   //Przyciemnimy nasz kolor
    color: mix($color-a, $color-b);   // tutaj wymiesza nam dwa kolory
  }

}

.red {
  color: $color-a
}


.blue {
  color: $color-b
}