// Place all the styles related to the Home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/




body {
  font-family: 'Arial', sans-serif;
}

h1, h2 {
  font-weight: 400;
}

div {
  height: 300px;
  float: left;
}

.main {
  background-color: #555;
}

.aside {
  background-color: #777;
}
